<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Oleo+Script:wght@700&family=Quicksand:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <title>ash-gourd</title>
    <link rel="stylesheet" href="/static/shared.css">
    <link rel="stylesheet" href="/static/crop-list.css">

  </head>
  <body>
    <header>
            <div id="page-logo">
              <a class="headerLogo" href="/">agri portal</a>
            </div>
            <nav>
              <ul>
                <li><a class="headerStill" href="/crop-list"><STrong>MORE CROPS</STrong></a></li>
             
              </ul>
            </nav>
    </header>
    <main>
        <h1><u>ASH GOURD</u></h1>
      <h2>PH:</h2>
      <ul><li><p>6.5-7.5</p></li></ul>
      
      <h2>SEED RATE:</h2>
      <ul>
        <li><p>Varieties: 2.5 kg / ha. </p></li>
        <li><p>Hybrids: 1.50 Kg / ha.</p></li>
     </ul>
      
      <h2>SEED TREATMENT:</h2>
        <ul class="line-dec">
            <li class="seed-field"> <P>
                SSoak the seeds in double the quantity of water for 30 minutes and incubate for 6 days. The seeds are
                treated with Trichoderma viride 4 g or Pseudomonas fluroscens 10 g or Carbendazim 2 g/kg of seeds
                before sowing.</P></li>
        
    </ul>
      <h2>FIELD PREPARATION AND GROWING:
        </h2>
        <ul class="line-dec">
            <li class="seed-field"><P><strong>Nursery raising</strong></P></li>
        <li class="seed-field"><P>In hi-tech horticulture, use 12 days old healthy seedlings obtained from shade net houses for
            planting.</P></li>
            <li class="seed-field"><P>Use well decomposed cocopeat is used as medium.</P></li>
                <li class="seed-field"><P>Sow one seed per cell. Water regularly twice a day.</P></li>
                    <li class="seed-field"><P>Transplant about 12 days old seedlings in the main field</P></li>
            <br>
            <li class="seed-field"><P>Plough the field 3 – 4 times. Dig pits of 30 cm x 30 cm x 30 cm at a spacing 2 x 1.5 m and form
                basins</P></li>
                <li class="seed-field"><P>Five to six seeds are sown in each pit. After germination, the seedlings are thinned to two/ pit.</P></li>
                    
    </ul>
    <h2><a class="ferti" href="/viewFertilizers">FERTILIZER:</a></h2>
 <ul><li> <p>Apply Azospirillum and Phosphobacteria @ 2 kg/ha and Pseudomonas @ 2.5 kg/ha along with FYM 50
    kg and neem cake @ 100 kg before last ploughing. Apply 10 kg FYM and 100 g of 6:12:12 NPK
    mixture/pit as basal and 10 g N/ pit at 30 days after sowing</p></li></ul>

    <h2>IRRIGATION:</h2>
    <ul class="line-dec"><li> <P>Irrigate the basin before dibbling the seeds and thereafter once a week</P></li>
   
    <li><p><strong>Fertigation:</strong></p></li>
    <li><p>Apply 60:30:30 kg of NPK/ha throughout the cropping period through split application. 75% of
        phosphorus, is applied through superphosphate as basal dose.</p></li>
     </ul>
        <h2>HARVEST:</h2>
        <ul><li> <p>Hoeing and weeding can be done as and when necessary. Spray Ethrel 250 ppm (2.5 ml/10 lit of water)
            four times at weekly intervals commencing from 15th day after sowing.</p></li>
            
            <li id="bottom-pad"><p>Average yield is 20 t/ha in 140 days </p></li>
        
       
    </ul>
  
       </main>
  </body>
</html>
