<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Oleo+Script:wght@700&family=Quicksand:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <title>chilly</title>
    <link rel="stylesheet" href="/styles/shared.css">
    <link rel="stylesheet" href="/styles/crop-list.css">

  </head>
  <body>
    <header>
            <div id="page-logo">
              <a class="headerLogo" href="/index.html">agri portal</a>
            </div>
            <nav>
              <ul>
                <li><a class="headerStill" href="/crop-list.html"><STrong>MORE CROPS</STrong></a></li>
             
              </ul>
            </nav>
    </header>
    <main>
        <h1><u>BHENDI</u></h1>
      <h2>PH:</h2>
      <ul><li><p>6.0-6.8</p></li></ul>
      
      <h2>SEED RATE:</h2>
      <ul>
        <li><p>
          Varieties : 8.0 kg / ha
         </p></li>
         <li><p>
          Hybrids : 2.5 kg / ha
         </p></li>
     
     </ul>
      
      <h2>SEED TREATMENT:</h2>
        <ul class="line-dec">
            <li class="seed-field"> <P>
              Seed treatment with Tricoderma viride @ 4 g/kg or Pseudomonas fluorescens @ 10 g/ kg of seeds and again with 400 g of Azospirillum using starch as adhesive and dried in shade for 20 minutes.
               Sow three seeds per hill at 30 cm apart and then thin to 2 plants per hill after 10 days.</P></li>
        
    </ul>
      <h2>FIELD PREPARATION AND GROWING:
        </h2>
        <ul class="line-dec">
           
        <li class="seed-field"><P>Plough the land 4 - 5 times and apply FYM 10 kg, neem cake 1 kg, super phosphate 100 g and Furadon 10 g/sq.m during last ploughing. Form ridges and furrows at 45 cm apart</P></li>
        <li class="seed-field"><P>Apply FYM @ 25 t / ha as basal before last ploughing.</P></li>
        <li class="seed-field"><P>Apply 2 kg/ha of Azospirillum and 2 kg/ha Phosphobacteria by mixing with 50 kg of FYM.</P></li>
        <li class="seed-field"><P>Apply 75 % total recommended dose of super phosphate ie 469 kg / ha as basal.
          Form raised beds of 120 cm width at an interval of 30 cm.</P></li>
        <li class="seed-field"><P><strong>Sowing</strong></P></li>
            <li class="seed-field"><P>Sow three seeds per hill at 30 cm apart and then thin to 2 plants per hill after 10 days</P></li>
            
                    
    </ul>
 <h2>FERTILIZER:</h2>
 <ul><li> <p>Apply Azospirillum and Phosphobacteria each at 2 kg/ha mixed with 100 kg of FYM before sowing.</p></li>
  <li><p><strong>varieties:</strong></p></li>
    <li> <p>Basal dose FYM @ 25 t/ha, N @ 20 kg, P @ 50 kg and K @ 30 kg/ha as basal and 20 kg N/ha at 30 days after sowing</p></li>
        <li><p><strong>hybrid:</strong></p></li>
        <li> <p>Basal dose FYM @ 40 t / ha, N @ 100 kg, P @ 100 kg and K @ 100 kg/ha as basal and 100 kg N / ha 30 at days after sowing</p></li>
        </ul>

    <h2>IRRIGATION:</h2>
    <ul class="line-dec"><li> <P>irrigation is done at weekly intervals</P></li>
      
      <li> <P>install the drip irrigation with main and sub main pipes and place lateral tubes at the centre of the each bed at an interval of 1.5 m.
        Place the drippers in lateral tubes at an interval of 60 cm and 50 cm spacing with 4 LPH and 3.5 LPH capacities respectively.</P></li>
   <li> <P>Before planting, wet the beds using drip system for 8-12 hrs.</P></li>
    <li><p><strong>Fertigation:</strong></p></li>
    <li><p>Spray Oxyflourfen at 0.15 kg ai / ha or Fluchloralin @ 1.0 kg ai / ha or Metolachlor @ 0.75 kg a.i / ha as pre emergence application on third day of sowing.</p></li>
     </ul>
        <h2>HARVEST:</h2>
        <ul>
          <li> <P>Harvesting can be done 45 days after planting. Fruits are harvested in tender stage at 1 – 2 days intervals.</P></li>
            <li id="bottom-pad"><p>Average yield is 12-15 t/ha </p></li>
        
       
    </ul>
  
       </main>
  </body>
</html>
