<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Oleo+Script:wght@700&family=Quicksand:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <title>chilly</title>
    <link rel="stylesheet" href="/static/shared.css">
    <link rel="stylesheet" href="/static/crop-list.css">

  </head>
  <body>
    <header>
            <div id="page-logo">
              <a class="headerLogo" href="/templates/index.html">agri portal</a>
            </div>
            <nav>
              <ul>
                <li><a class="headerStill" href="/templates/crop-list.html"><STrong>MORE CROPS</STrong></a></li>
             
              </ul>
            </nav>
    </header>
    <main>
        <h1><u>BITTER GOURD</u></h1>
      <h2>PH:</h2>
      <ul><li><p>6.5-7.5</p></li></ul>
      
      <h2>SEED RATE:</h2>
      <ul>
        <li><p>Varieties: 2.2 kg / ha. </p></li>
        <li><p>Hybrids: 1.5 Kg / ha.</p></li>
     </ul>
      
      <h2>SEED TREATMENT:</h2>
        <ul class="line-dec">
            <li class="seed-field"> <P>
                Sow the seeds (5 seeds/pit) treated with Trichoderma viride 4 g or Pseudomonas fluorescens 10 g or
                Carbendazim 10 g/kg of seeds and thin the seedlings to two/ pit after 15 days.</P></li>
        
    </ul>
      <h2>FIELD PREPARATION AND GROWING:
        </h2>
        <ul class="line-dec">
            <li class="seed-field"><P><strong>Nursery raising</strong></P></li>
        <li class="seed-field"><P>Bitter gourd is a direct sown vegetable but polythene bag nursery is more advantageous to get early
            marketing and to avoid more gap filling. Use 200 gauge poly bags of 10 cm diameter x 10 cm height for
            sowing the seeds. Transplant about 15 days old seedlings to the main field.</P></li>
            <br>
            <li class="seed-field"><P>Plough the field to fine tilth and dig pits of 30 cm x 30 cm x 30 cm size at 2 x 1.5 m spacing and
                form basins</P></li>
                <li class="seed-field"><P>Form the raised beds of 120cm width (120 cm) and spread the lateral tubes in the centre of each
                    bed.</P></li>
                    <li class="seed-field"><P>Irrigation is done in the beds by operating the drip system continuously for 8-12 hrs.</P></li>
                        <li class="seed-field"><P>Spray pre emergence herbicide like Pendimethalin @ 1 Kg a.i/ha just before planting.</P></li>
                        <li class="seed-field"><P>Planting or sowing is done at the holes made at 2 m distance.</P></li>
            
        
    </ul>
 <h2>FERTILIZER:</h2>
 <ul><li> <p>Apply 10 kg of FYM per pit (20 t/ha) 100 g of NPK 6:12:12/pit as basal and 10 g of N/pit 30 days after
    sowing.Apply Azospirillum and Phosphobacteria 2 kg/ha and Pseudomonas @ 2.5 kg/ha along with FYM
    50 kg and neem cake @ 100 kg before last ploughing.</p></li></ul>

    <h2>IRRIGATION:</h2>
    <ul class="line-dec"><li> <P>Irrigate the basin before dibbling the seeds and thereafter once a week</P></li>
   <li><p> Install drip system with main and sub-main pipes and place the inline lateral tubes at an interval of 1.5 m.
    </p></li>
   <li> <p>  Place the drippers in lateral tubes at an interval of 60 cm and 50 cm spacing with 4 LPH and 3.5 LPH
    capacities respectively</P></li>
    <li><p><strong>Fertigation:</strong></p></li>
    <li><p>Apply a dose of 250:100:100 kg NPK/ha throughout the cropping period through split application.</p></li>
     </ul>
        <h2>HARVEST:</h2>
        <ul><li> <p>Hoeing is done thrice to control weeds. Provide stakes to reach the pandal (2 m). Spray Ethrel 100 ppm
            (1 ml dissolved in 10 lit of water) four times from 15th day after sowing at weekly intervals.</p></li>
            <li><p>Varieties: 14 t/ha in 140 - 150 days. </p></li>
            <li id="bottom-pad"><p>Hybrids : 40 t/ha in 180 days </p></li>
        
       
    </ul>
  
       </main>
  </body>
</html>
