<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Oleo+Script:wght@700&family=Quicksand:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <title>brinjal</title>
    <link rel="stylesheet" href="/static/shared.css">
    <link rel="stylesheet" href="/static/crop-list.css">

  </head>
  <body>
    <header>
            <div id="page-logo">
              <a class="headerLogo" href="/">agri portal</a>
            </div>
            <nav>
                <ul>
                  <li><a class="headerStill" href="/crop-list"><STrong>MORE CROPS</STrong></a></li>
               
                </ul>
              </nav>
    </header>
    <main>
        <h1><u>BRINJAL</u></h1>
      <h2>PH:</h2>
      <ul><li><p>6.5-7.5</p></li></ul>
      
      <h2>SEED RATE:</h2>
      <ul>
        <li><p>Varieties : 1.5 kg/ha.</p></li>
      
     </ul>
      
      <h2>SEED TREATMENT:</h2>
      <p>
        <ul class="line-dec">
            <li class="seed-field">
                Treat seeds with Trichoderma viride 4 g/kg or Pseudomonas fluorescens 10 g/kg or Carbendazim 2 g/kg
of seeds before sowing. </li>
        <li class="seed-field">Treat the seeds with (Carboxyn 37.5% + Thiram 37.5%) DS @ 1.5g or (Carbendazim 1.0g +
            Thiram 1.5g)/ kg of seeds.</li>
        
    </ul>
      </p>



      <h2>FIELD PREPARATION AND GROWING:
        </h2>
        <ul class="line-dec">
            <li class="seed-field"><P><strong> NURSERY BED:</strong> Seeds should be sown in 10cm gap.</P></li>
        <li class="seed-field"><P><STRong>SOIL:</STRong> Transplant the seedlings after 30-35 days in soil.</P></li>
        <li class="seed-field"><P>Form ridges and furrows at 60cm spacing.</P></li>
        <li class="seed-field"><P>Add 25ton/hectare of FYM in soil during ploughing.</P></li>
        <li class="seed-field"><P>Apply 2 kg / ha of Azospirillum and 2 kg / ha of Phosphobacteria by mixing with 50 kg of FYM</P></li>
    </ul>
    <h2><a class="ferti" href="/viewFertilizers">FERTILIZER:</a></h2>
 <ul><li> <p>Apply Pendimethalin 1.0 kg a.i. / ha or Fluchloralin 1.0 kg a.i / ha as pre-emergence herbicide, followed
    by hand weeding once at 30 days after planting</p></li></ul>

    <h2>IRRIGATION:</h2>
    <ul class="line-dec"><li><P>After establishment of seedlings, irrigate at weekly intervals.</P></li>
   <li><p>Install the drip irrigation with main and sub main pipes and place lateral tubes at an interval of 1.5 m. </p></li>
   <li> <p>Before planting, wet the beds using drip system for 8-12 hrs.</P></li>
    <li><p>Planting to be done at a spacing of 90x60x75 cm in the paired row system, using ropes marked at 75 cm
        spacing.</p></li>
    <li><p>Spray Pendimethalin 1.0 kg a.i./ha or Fluchloralin 1.0 kg a.i/ha as pre-emergence herbicide at 3rd day
        after planting.</p></li>
    <li><p>Gap filling can be done at 7th day after transplanting.</p></li>
     </ul>
        <h2>HARVEST:</h2>
        <ul><li> <p>Harvest can be done 55 - 60 days after transplanting.</p></li>
        <li id="bottom-pad"><p> Fruits are harvested at tender stage at 4 - 5 days intervals.</p></li></ul>
       </main>
  </body>
</html>
