<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Oleo+Script:wght@700&family=Quicksand:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <title>carrot</title>
    <link rel="stylesheet" href="/static/shared.css">
    <link rel="stylesheet" href="/static/crop-list.css">

  </head>
  <body>
    <header>
            <div id="page-logo">
              <a class="headerLogo" href="/">agri portal</a>
            </div>
            <nav>
              <ul>
                <li><a class="headerStill" href="/crop-list"><STrong>MORE CROPS</STrong></a></li>
             
              </ul>
            </nav>
    </header>
    <main>
        <h1><u>CARROT</u></h1>
      <h2>PH:</h2>
      <ul><li><p>6.0-7.0</p></li></ul>
      
      <h2>SEED RATE:</h2>
      <ul>
        <li><p>4 kg/ha. </p></li>
     
     </ul>
      
      <h2>SEED TREATMENT:</h2>
        <ul class="line-dec">
            <li class="seed-field"> <P>
                Sow the seeds mixed with sand (one part of seed with 4 parts of sand).</P></li>
        
    </ul>
      <h2>FIELD PREPARATION AND GROWING:
        </h2>
        <ul class="line-dec">
            <li class="seed-field"><P><strong>Hills</strong></P></li>
        <li class="seed-field"><P>Prepare the land to a fine tilth and form raised beds of one metre breadth and convenient length.</P></li>
        <li class="seed-field"><P><strong>plains</strong></P></li>
            <li class="seed-field"><P>Two ploughings are given and ridges and furrows are formed at 30 cm spacing.</P></li>

            <li class="seed-field"><P><strong>sowing:</strong></P></li>
            <li class="seed-field"><P>Mark the rows with spacing of 25 – 30 cm apart. Sow the seeds mixed with sand (one part of seed with 4
                parts of sand).</P></li>

            <li class="seed-field"><P><strong>thinning:</strong></P></li>
            <li class="seed-field"><P><strong>Hills</strong></P></li>
        <li class="seed-field"><P>A spacing of 10 cm between plants</P></li>
        <li class="seed-field"><P><strong>plains</strong></P></li>
            <li class="seed-field"><P>A spacing of 5 cm between plants</P></li>


            <br>

                <li class="seed-field"><P>Splitting of roots is a physiological disorder which is usually seen when there is a sudden increase
                    in soil moisture after prolonged drought.</P></li>
                    <li class="seed-field"><P>Forking is another phenomenon where in the hard soil does not allow the straight growth of tap
                        root which results in formation of forked root. Forked roots and split roots fetch poor price in
                        market.</P></li>
           
            <li class="seed-field"><P>Keeping the soil moisture at optimum condition will help to keep the soil also loose thereby help
                to avoid splits and forked roots.</P></li>
                
                    
    </ul>
    <h2><a class="ferti" href="/viewFertilizers">FERTILIZER:</a></h2>
 <ul><li> <p>30 t/ha FYM and 90:90:90 kg/ha NPK are applied as basal dose and 45:45:45 kg/ha NPK after 45 days of
    sowing. Apply 25 kg of ZnSO4/ha as basal.</p></li>
    <li> <p>Spray Fluchloralin 1 lit a.i./ha immediately after sowing the seeds to control weeds or the first weeding to
        be done on 15th day of sowing. Thinning and earthing up should be given on 30th day.</p></li></ul>

    <h2>IRRIGATION:</h2>
    <ul class="line-dec"><li> <P>Irrigation is done once in five days</P></li>
   
    <li><p><strong>Fertigation:</strong></p></li>
    <li><p>Apply 60:30:30 kg of NPK/ha throughout the cropping period through split application. 75% of
        phosphorus, is applied through superphosphate as basal dose.</p></li>
     </ul>
        <h2>HARVEST:</h2>
        <ul>
            
            <li id="bottom-pad"><p>Average yield is 25 – 30 t/ha in 100 – 120 days. </p></li>
        
       
    </ul>
  
       </main>
  </body>
</html>
