<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Oleo+Script:wght@700&family=Quicksand:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <title>chilly</title>
    <link rel="stylesheet" href="/static/shared.css">
    <link rel="stylesheet" href="/static/crop-list.css">

  </head>
  <body>
    <header>
            <div id="page-logo">
              <a class="headerLogo" href="/">agri portal</a>
            </div>
            <nav>
              <ul>
                <li><a class="headerStill" href="/crop-list"><STrong>MORE CROPS</STrong></a></li>
             
              </ul>
            </nav>
    </header>
    <main>
        <h1><u>POTATO</u></h1>
      <h2>PH:</h2>
      <ul><li><p>4.8-5.4</p></li></ul>
      
      <h2>SEED RATE:</h2>
      <ul>
        <li><p>3000 – 3500 kg/ha</p></li>
   
     </ul>
      
      <h2>SEED TREATMENT:</h2>
        <ul class="line-dec">
            <li class="seed-field"> <P>
                Use Carbon disulphide 30 g/100 kg of seeds for breaking the dormancy and inducing sprouting of tubers.</P></li>
        
    </ul>
      <h2>FIELD PREPARATION AND GROWING:
        </h2>
        <ul class="line-dec">
            <li class="seed-field"><P>Prepare the land to fine tilth.</P></li>
        <li class="seed-field"><P>In hills provide an inward slope in the terraces.</P></li>
        <li class="seed-field"><P>Provide drainage channel along the inner edge of the terrace.</P></li>
        <li class="seed-field"><P>Form ridges and furrows with a spacing of 45 cm between ridges either by hand hoe or ridger.</P></li>
        <li class="seed-field"><P>Use disease free, well spouted tubers weighing 40 – 50 grams for planting. Plant the tubers at 20 cm apart.</P></li>
        
    </ul>
    <h2><a class="ferti" href="/viewFertilizers">FERTILIZER:</a></h2>
 <ul><li> <p>Apply 15 t/ha of FYM and 2 kg each of Azospirillum and Phosphobacterium as basal and 120 kg N, 240
    kg P and 120 kg K/ha in two splits; half as basal and the balance for top dressing on 30 days after sowing.
    Apply Magnesium sulphate at 60 kg/ha as basal dose.</p></li>
    <li> <p>The critical period of weed-competition is upto 60 days and it is essential to keep the field weed-free
        during that period. Take up the first hoeing on 45th day without disturbing stolons. Second hoeing and
        earthing can be taken up at 60th day.</p></li></ul>

    <h2>IRRIGATION:</h2>
    <ul class="line-dec"><li> <P>Irrigate the field copiously immediately after sowing and afterwards as and when necessary.</P></li>
   <li><p> Install drip system with main and sub-main pipes and place the inline lateral tubes at an interval of 1.5 m.
    </p></li>
   <li> <p>  Form the raised beds at 120 cm width at an interval of 30cm and place the laterals at the centre of each
    bed.</P></li>
    <li><p><strong>Fertigation:</strong></p></li>
    <li><p>Fertigation requirement: 120:160:100kg / ha</p></li>
     </ul>
        <h2>HARVEST:</h2>
        <ul>
        <li id="bottom-pad"><p> Average yield is 15 – 20 t/ha of tubers </p></li>
       
    </ul>
  
       </main>
  </body>
</html>
