<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Oleo+Script:wght@700&family=Quicksand:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <title>TOMATO</title>
    <link rel="stylesheet" href="/styles/shared.css">
    <link rel="stylesheet" href="/styles/crop-list.css">

  </head>
  <body>
    <header>
            <div id="page-logo">
              <a class="headerLogo" href="/index.html">agri portal</a>
            </div>
             <nav>
              <ul>
                <li><a class="headerStill" href="/crop-list.html"><STrong>MORE CROPS</STrong></a></li>
             
              </ul>
            </nav>
    </header>
    <main>
        <h1><u>TOMATO</u></h1>
      <h2>PH:</h2>
      <ul><li><p>6.5-7.5</p></li></ul>
      
      <h2>SEED RATE:</h2>
      <ul>
        <li><p>Varieties : 300-350 g / ha </p></li>
        <li><p>Hybrids : 100-150 g / ha</p></li>
     </ul>
      
      <h2>SEED TREATMENT:</h2>
    
        <ul class="line-dec">
            <li class="seed-field"><p>
                Treat the seeds with Trichoderma viride 4 g or Carbendazim 2 g per kg of seeds 24 h before
                sowing.</p></li>
        <li class="seed-field"><p>Just before sowing, treat the seeds with Azospirillum @ 40 g / 400 g of seeds.</p></li>
    </ul>
      <h2>FIELD PREPARATION AND GROWING:
        </h2>
        <ul class="line-dec">
            <li class="seed-field"><p>Mix sterilized cocopeat @ 300 kg with 5 kg neem cake along with Azospirillum and
                Phosphobacteria each @ 1 kg.</p></li>
        <li class="seed-field"><p>Sow the treated seed in protrays @ one seed per cell.</p></li>
        <li class="seed-field"><p>Cover the seed with cocopeat and keep the trays one above the other and cover with a polythene
        sheet till germination starts.</p></li>
        <li class="seed-field"><p>After 6 days place the protrays with germinated seedlings individually on the raised beds inside
        the shade net.</p></li>
        <li class="seed-field"><p>After 18 days of sowing, drench it in NPK (5g/l)</p></li>
        <li class="seed-field"><p>After ploughing, Thoroughly prepare the field with the addition of FYM @ 25 t/ ha and form ridges and
            furrows at a spacing of 60 cm.</p></li>
       <li class="seed-field"><p>Apply 2 kg/ha of Azospirillum and 2 kg/ha of Phosphobacteria by mixing with 50 kg of FYM.</p></li>
        <li class="seed-field"><p>Irrigate the furrows and transplant 25 days old seedlings on the sides of ridges.</p></li>
       <li class="seed-field"><p>Life irrigation should be given on 3rd day of planting.</p></li>
    </ul>
 <h2>FERTILIZER:</h2>
 <ul><li> <p>Apply Fluchloralin 1.0 kg a.i / ha as pre-emergence herbicide, followed by hand weeding once at 30 days
    after planting.</p></li></ul>

    <h2>IRRIGATION:</h2>
    <ul class="line-dec"><li> <P>After establishment of seedlings, irrigate at weekly intervals.</P></li>
   <li><p>Install the drip irrigation with main and sub main pipes and place lateral tubes at an interval of 1.5 m.</p></li>
   <li> <p>Place the drippers in lateral tubes at an interval of 60 cm and 50 cm spacing with 4 LPH and 3.5 LPH
    capacities respectively.</P></li>
    <li><p>Form raised beds of 120 cm width at an interval of 30 cm. place the laterals at the centre of each bed.</p></li>
    <li><p>Before planting, wet the beds using drip system for 8-12 hrs.</p></li>
     </ul>
        <h2>HARVEST:</h2>
        <ul><li> <p>Spray 1.25 ppm (625 ml in 500 litres of water) Triacontanol at 15 days after transplanting and at full
            bloom stage to increase the yield.</p></li>
            <li><p>N spray at 2ml / litre in three sprays; 30 days, 55 days and 75 days after planting increase the yield.</p></li>
        <li id="bottom-pad"><p><em>DURATION:</em> 110- 115 days from transplanting (135 - 140 days from sowing)</p></li></ul>
       </main>
  </body>
</html>
