<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Oleo+Script:wght@700&family=Quicksand:wght@300;500;700&display=swap"
    rel="stylesheet"
  />
    <link rel="stylesheet" href="static/shared.css" />
    <link rel="stylesheet" href="static/style.css" />

    <title>agri portal</title>
  </head>
  <body>
    <header>
      <div id="page-logo"><a class="headerLogo" href="/">agri portal</a></div>

      <nav>
        <ul>
          <li><a class="headerStill" href="/crop-list">destinations</a></li>
          <li><a class="headerStill" href="/login">login</a></li>
          <li><a class="headerStill" href="/signup">signup</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="hero">
        <div id="hero-content">
          <h1>Green Environment</h1>
          <p>Let's make our own food</p>
          <a href="/crop-list">Discover way </a>
        </div>
      </section>
      <section id="highlight">
        <h2>Highlights</h2>
        <ul id="destination">
            <li class="destination">
            <img src="static/images/crops/miami.jpg" alt="Miami street on day">
            <p>Miami <strong>USA</strong></p>
            </li>
            <li class="destination">
                <img src="static/images/crops/munich.jpg" alt="STADIUM IN WINTER">
                <p>Munich <strong>Germany</strong></p>
            </li>
            <li class="destination">
                <img src="static/images/crops/barcelona.jpg" alt="PALM BEACH">
                <p>Barcelona <strong>Spain</strong></p>
                
            </li>

        </ul>
      </section>
    </main>
    <footer>
      <ul>
        <li><a href="https://instagram.com/manocch_?igshid=ZDdkNTZiNTM="><img src="static/images/icon/insta.png" alt="instagram"></a></li>
        <li>
          <a href="https://www.facebook.com/meresal.manoj?mibextid=ZbWKwL"><img src="static/images/icon/facebook.png" alt="facebook"></a>
        </li>
      </ul>
    </footer>
  </body>
</html>
