<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Oleo+Script:wght@700&family=Quicksand:wght@300;500;700&display=swap"
    rel="stylesheet"
  />
    <link rel="stylesheet" href="/static/shared.css" />
    <link rel="stylesheet" href="/static/style.css" />

    <title>agri portal</title>
  </head>
  <body>
    <header>
      <div id="page-logo"><a class="indexlogo" href="/">agri portal</a></div>

      <nav>
        <ul>
          <li><a class="headerStill" href="/crop-list">DESTINATIONS</a></li>
          <li><a class="headerStill" href="/login">LOGIN</a></li>
          <li><a class="headerStill" href="/signup">SIGNUP</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="hero">
        <div id="hero-content">
          <h1>Green Environment</h1>
          <p>Let's make our own food</p>
          <a href="/viewProducts">Rent product </a>
          <a href="/crop-list">Discover way </a>
          <a href="/viewSeeds">Buy products </a>
          
        </div>
        
        
      </section>
      <section id="highlight">
        <h2>Highlights</h2>
        <ul id="destination">
            <li class="destination">
            <img src="/static/images/crops/fertilizer.jpg" alt="Fertilizer">
            <p>Branded <strong>Fertilizer</strong></p>
            </li>
            <li class="destination">
                <img src="/static/images/crops/agri-machine.jpg" alt="Machine">
                <p>Rental <strong>Machinary</strong></p>
            </li>
            <li class="destination">
                <img src="/static/images/crops/seeds.jpg" alt="Seeds">
                <p>Good <strong>Seeds</strong></p>
                
            </li>

        </ul>
      </section>
    </main>
    <footer>
      <ul>
        <li><a href="https://instagram.com/manocch_?igshid=ZDdkNTZiNTM="><img src="static/images/icon/insta.png" alt="instagram"></a></li>
        <li>
          <a href="https://www.facebook.com/meresal.manoj?mibextid=ZbWKwL"><img src="static/images/icon/facebook.png" alt="facebook"></a>
        </li>
      </ul>
    </footer>
  </body>
</html>
