header {
  position: static;
}
main {
  background-color: #00ffff;
  margin: 0 5rem 3rem 5rem;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
h1 {
    font-size: 3rem;
  text-align: center;
  padding-top: 2rem;
  
}
h2 {
    font-size: 1.5rem;
  padding-left: 2rem;
}

ul{
    padding:0 5rem 0 5rem ;
}
li{
    font-size: 1.3rem;
  
}
.seed-field{
    padding-bottom: 1.5rem;
}
.line-dec{
    list-style:disc;
}
#bottom-pad{
    padding-bottom: 2rem;
}
